

   <!--
    This is the top column title bars for 'Add To-Do Task' and 'To-Do List'
   -->

    <div class="container color-dark">
        <div class="col"> 
            <p >Add To-Do Task</p>

        </div>
        <div class="col">
            <p >To-Do List({{itemCounter}})</p>
        </div>
    </div>

    <!-- This is the content section containing paragraph, input field and
          Button
    -->

    <div class="container color-light" [@projects]="projects.length">
         <div class="col">

             <h2 class="col">Use this tool to add your To-Do List and remove it once it done</h2>
           
             <form>
                 <input  type="text" placeholder="Add To-Do Task" class="text" [(ngModel)]="projecttext"  />
                 <br>
                 <input type="submit" class="submit-btn" value="Add Task" (click)="additem"/>
             </form>
    
        </div>
        
        <!--This displays The list of Tasks-->
        <div class="col">
            
            <p class="project-container" *ngFor="let item of projects; let i = index" (click) = "removeitem(i)">
                {{item}}
            </p>
        </div>
        
    </div>



